.swiper {
  width: 95%;
  height: auto;
margin-top: 60px;
}

.slideBlock {
  margin-left: 20%;
 height: 400px;
 width: auto;
}

.marquee-image {
  /* Add margin to the right of each image */
  margin-right: 20px; 
}
